<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SistemaSube</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControladorSeleccionarTarjetaYTransporte</servlet-name>
    <servlet-class>controladores.ControladorSeleccionarTarjetaYTransporte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorSeleccionarTarjetaYTransporte</servlet-name>
    <url-pattern>/SeleccionarTarjetaYTransporte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorCobrarViaje</servlet-name>
    <servlet-class>controladores.ControladorCobrarViaje</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorCobrarViaje</servlet-name>
    <url-pattern>/CobrarViaje</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorConsultarSaldo</servlet-name>
    <servlet-class>controladores.ControladorConsultarSaldo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorConsultarSaldo</servlet-name>
    <url-pattern>/ConsultarSaldo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorMostrarReportes</servlet-name>
    <servlet-class>controladores.ControladorMostrarReportes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorMostrarReportes</servlet-name>
    <url-pattern>/MostrarReportes</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ControladorRegistrarSube</servlet-name>
    <servlet-class>controladores.ControladorRegistrarSube</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorRegistrarSube</servlet-name>
    <url-pattern>/RegistrarSube</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ControladorRecargarSube</servlet-name>
    <servlet-class>controladores.ControladorRecargarSube</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorRecargarSube</servlet-name>
    <url-pattern>/RecargarSube</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControladorLogin</servlet-name>
  	<servlet-class>controladores.ControladorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorLogin</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControladorTramosYEstaciones</servlet-name>
  	<servlet-class>controladores.ControladorTramosYEstaciones</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorTramosYEstaciones</servlet-name>
  	<url-pattern>/TramosEstaciones</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ControladorLineas</servlet-name>
  	<servlet-class>controladores.ControladorLineas</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControladorLineas</servlet-name>
  	<url-pattern>/Lineas</url-pattern>
  </servlet-mapping>
</web-app>